@media (max-width: 1750px) {
    .main-contant {
        margin-bottom: 70px;
    }
    .main-contant .left-side {
        transform: translateX(12%) translateY(6%);
    }
}

@media (max-width: 1600px) {
    .main-contant {
        margin-bottom: 100px;
    }
}

@media (max-width: 1400px) {
    .main-contant .right-side .form-wrapp form .input-item input {
        width: 200px;
    }
    .main-contant .right-side .form-wrapp form {
        padding: 23px 42px 0 42px;
    }
}

@media (max-width: 1250px) {
    .main-contant .left-side {
        transform: translateX(12%) translateY(17%);
    }
}

@media (max-width: 1199px) {
    .main-contant .right-side .form-wrapp {
        padding: 32px;
    }
    .main-contant .right-side .form-wrapp form {
        padding: 23px 32px 0 32px;
    }
    .main-contant .right-side .form-wrapp form .input-item input {
        width: 180px;
    }
}

@media (max-width: 991px) {
    footer .crypto-item-wr{
        margin-bottom: 20px;
    }
    .main-contant .right-side .form-wrapp form .inputs-flex-wr{
        display: block;
    }
    .main-contant .right-side .form-wrapp form .input-item{
        width: 100%
    }
    .main-contant .right-side .form-wrapp form .input-item input{
        width: 220px;
    }
    .main-contant .right-side .form-wrapp form h1{
        font-size: 21px;
    }
    .main-contant .right-side .form-wrapp form .head-form-p{
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .main-contant .left-side{
        display: none;
    }
    .main-contant .right-side{
        width: 100%;
    }
    .main-contant .right-side .form-wrapp{
        padding: 15px;
    }
    .main-contant .right-side .form-wrapp form{
        padding: 15px;
    }
    .main-contant .right-side .form-wrapp form button{
        font-size: 15px;
    }
    footer .logo-footer p{
        text-align: center;
    }
    .lang_block{
        right: 15px;
    }
    .head img{
        max-width: 170px;
        margin: 0 auto;
    }
    .main-contant .right-side{
        padding-top: 0;
    }
    .main-contant .right-side .form-wrapp form h1{
        text-align: center;
        
    }
    .main-contant .right-side .form-wrapp form .head-form-p{
        text-align: center;
    }
    .main-contant .right-side .form-wrapp form .inputs-flex-wr{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-contant .right-side .form-wrapp form .input-item{
        width: auto;
    }
    .main-contant .right-side .form-wrapp form .head-form-p {
        font-size: 13px;
    }
    footer .logo-footer {
        padding: 0 0 40px 0;
    }
}